@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Index</h1>

<div class="container col-md-6 ">
    <form>
        <div class="mb-3">
            <label for="inputTextToSearch" class="form-label">Text to search</label>
            <input type="text" class="form-control" id="inputTextToSearch" placeholder="Text to search...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container col-md-10">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">JediId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Luke Skywalker</td>
                    <td>53</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Obi-Wan Kenobi</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yoda</td>
                    <td>900</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ul>
    <li>
        <a href="/jedi/details/1">Ir al Jedi 1</a>
   </li>
    <li>
        <a href="/jedi/details/2">Ir al Jedi 2</a>
    </li>
    <li>
        <a href="/jedi/details/3">Ir al Jedi 3</a>
    </li>
</ul>
