@using Starwars.Core.Entities
@model JediListViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<ul>
    @foreach (var j in Model.Result.Items)
    {
        <li>Item: @j.Name (@j.JediId)</li>
    }   
</ul>